<%- include('../partials/header') %>

<h2>Logowanie</h2>
<form method="POST" action="/login">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Hasło" required>
    <button>Zaloguj</button>
</form>

<%- include('../partials/footer') %>
